body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #1e1e2f, #121212);
  color: white;
}

.container {
  text-align: center;
  padding-top: 50px;
}

.card {
  background: #2a2a3d;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  margin: auto;
}

select, input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c853;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.result-card {
  margin-top: 30px;
  background: #2a2a3d;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}